//= require normalize

@import 'compass'
@import 'font-awesome'
@import url(http://fonts.googleapis.com/css?family=Titillium+Web|Roboto)

$title_font: 'Titillium Web', sans-serif
$normal_font: 'Roboto', sans-serif

body
  background: url(http://subtlepatterns.com/patterns/nasty_fabric.png)

footer
  position: absolute
  bottom: 0
  width: 100%
  padding: 15px
  background-color: whitesmoke

*, *:after, *:before
  box-sizing: border-box

*
  font-family: $normal_font

h1, h2, h3, h4, h5, h6, legend
  font-family: $title_font

header
  padding: 15px
  background-color: whitesmoke
  color: crimson
  @include box-shadow(0px 10px 12px -6px black)

  .header_container
    width: 80%
    margin: 0 auto

  .logo
    padding: 15px

  .slogan
    font-family: $title_font
    font-size: 5rem

  dl.contact
    font-size: 1.3rem
    a
      color: crimson

    dt
      font-weight: bold
    dt:after
      content: ':'

dl.horizontal
  dt,dd
    display: inline-block
    width: 49%
    margin: 0px
    padding: 3px

  dt
    text-align: right
    padding-right: 2.5px

  dd
    padding-left: 2.5px

img
  max-width: 100%

ul
  list-style-type: square

.main_container
  margin: 30px

section
  background-color: whitesmoke
  height: 300px
  @include box-shadow(0px 10px 6px -6px black)

  &:not(:last-child)
    margin-bottom: 30px

  legend
    width: 100%
    margin-bottom: 10px
    border-bottom: 4px solid black

    font-size: 2rem

  ul
    margin: 0px

  .description
    padding: 15px

  .carousel
    position: relative
    height: 300px
    @include display-flex
    @include align-items(stretch)

    @mixin active_item
      @include box-shadow(0px 10px 12px 0px black)
      @include flex-grow(1)
      opacity: 1
      width: 400px

    .item
      @include flex-basis(3rem)
      background-color: black
      opacity: 0.5
      transition: opacity 0.5s, box-shadow 0.5s, flex-grow 0.5s
      &:hover
        @include active_item

      img
        display: block
        margin: auto
        height: 100%

    &:not(:hover)
      .item
        &.active
          @include active_item
