//= require normalize

@import 'compass'
@import 'font-awesome'
@import url(http://fonts.googleapis.com/css?family=Titillium+Web|Roboto)

@import 'footer'

$title_font: 'Titillium Web', sans-serif
$normal_font: 'Roboto', sans-serif

body
  background: url(http://subtlepatterns.com/patterns/nasty_fabric.png)

*, *:after, *:before
  box-sizing: border-box

*
  font-family: $normal_font

h1, h2, h3, h4, h5, h6, legend
  font-family: $title_font

header
  border-bottom: 10px solid lightgrey
  padding: 15px
  background-color: whitesmoke
  color: crimson
  @include box-shadow(0px 10px 12px -6px black)

  .header_container
    width: 80%
    margin: 0 auto

  .logo
    padding: 15px

  .slogan
    font-family: $title_font
    font-size: 5rem

  dl.contact
    font-size: 1.3rem
    a
      color: crimson

    dt
      font-weight: bold
    dt:after
      content: ':'

dl.horizontal
  dt,dd
    display: inline-block
    width: 49%
    margin: 0px
    padding: 3px

  dt
    text-align: right
    padding-right: 2.5px

  dd
    padding-left: 2.5px

img
  max-width: 100%

ul
  list-style-type: square

.main_container
  margin: 30px

section
  background-color: whitesmoke
  height: 300px
  @include box-shadow(0px 10px 6px -6px black)

  &:not(:last-child)
    margin-bottom: 30px

  legend
    width: 100%
    margin-bottom: 10px
    border-bottom: 4px solid black

    font-size: 2rem

  ul
    margin: 0px

  .description
    padding: 15px

  .carousel
    @include display-flex
    @include flex-direction(row-reverse)
    @include align-items(stretch)

    .item
      @include flex-basis(0)
      @include flex-grow(1)
      transition: flex-grow 1s, opacity 1s
      background-color: black
      height: 100%
      text-align: center

      &:hover
        @include flex-grow(10)

        img
          object-fit: contain

      &:not(:hover)
        opacity: 0.1

      img
        vertical-align: middle
        height: 100%

      .magic_img_centerer
        vertical-align: middle
        display: inline-block
        height: 100%
